@model EduUruk.Models.ViewModels.TestModal

<h1>Create New Test</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label>Is Active:</label>
            <input type="checkbox" id="IsActive" name="IsActive" value="false" />
            <label for="IsActive">Active</label>
        </div>
    }
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
