@using Microsoft.AspNetCore.Identity
@using EduUruk.Models.Auth_Tables
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">

    <title>Hello, world!</title>


    <link href="~/newtheem/css/style.css" rel="stylesheet" />

    <style>
        .navbar {
            background-color: transparent !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .nav-link {
            margin-left: 20px;
            font-size: 20px;
            font-family: "Oswald", sans-serif;
        }

        .nav-item:hover .nav-link {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        aside {
            color: #fff;
            padding-left: 50px;
            max-width: 35%;
        }

        aside h1 {
            font-size: 34px;
        }

        aside h1 span {
            color: orange;
        }

        aside p {
            font-size: 26px;
            margin-top: 10px;
        }

        #students {
            margin-right: 50px;
            max-width: 60%;
            width: 50%;
        }

        footer {
            color: rgb(6, 6, 6);
            text-align: center;
            height: 5%;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        .inline-btn {
            background-color: #4ebeb3;
            border: none;
            font-size: 16px;
            color: rgb(9, 9, 9);
            padding: 10px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-weight: bolder;
            cursor: pointer;
            font-family: "Oswald", sans-serif;
        }

        .container p {
    color: black;
}
        /* Flexbox layout */
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5%;
        }


    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/NewTheem/images/logo.png" width="150px" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
           @*     <li class="nav-item active">
                    <a class="nav-link" href="Library.html">Library <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="courses.html">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test.html">Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Signin.html">Sign In</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="DocumentLibrary" asp-action="Index">Library <span class="sr-only">(current)</span></a>
                </li>*@

              @*  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>*@
              
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Video" asp-action="Index">Videos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Document" asp-action="Index">Document List</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Test" asp-action="Index">Tests</a>
                    </li>  
                   
                }
            @*    @if (User.IsInRole("Studant") || User.IsInRole("Admin"))
                {*@

                     <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="DocumentLibrary" asp-action="Index">Library <span class="sr-only">(current)</span></a>
                </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="VideosLibrary" asp-action="Index">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TestUser" asp-action="Index"> Test</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                @*}*@
             

                
                @if (User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }

            </ul>
        </div>
    </nav>

    <div >
        @RenderBody()
    </div>

@*    <section class="courses">
   
        <h1 class="heading">Our Courses</h1>
        <div class="box-container">
            <div class="box">
                <div class="tutor">
                    <img src="~/NewTheem/images/pic-2.jpg" alt="">
                    <div class="info">
                        <h3>Ahmed</h3>
                        <span>21-10-2022</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="~/NewTheem/images/thumb-1.png" alt="">
                    <span>10 videos</span>
                </div>
                <h3 class="title">Complete HTML Tutorial</h3>
                <a href="playlist.html" class="inline-btn">View Playlist</a>
            </div>

            <!-- Repeat other course boxes as needed -->

        </div>

        <div class="more-btn">
            <a href="courses.html" class="inline-option-btn">View All Courses</a>
        </div>
     
    </section>*@

    <footer>
        &copy; 2024 EDuUrulk All Rights Reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
